@extends('layouts.default')

@section('title')
{{ topic.title }} | 
    @parent
@stop

@section('wechat_icon')
<img src="{{ Ah.img_crop(blog.cover, 512, 512) }}" alt="">
@stop

@section('content')

<div class="blog-pages">

          <div class="col-md-9 left-col pull-right">

              <div class="panel article-body content-body">

                  <div class="panel-body">

                        <h1 class="text-center">
                            {{ topic.title }}
                        </h1>

                        @if(topic.is_draft == 'yes')
                            <div class="text-center alert alert-warning">
                                当前状态为 <i class="fa fa-file-text-o"></i> 草稿，仅作者可见，请前往 <a href="{{ route('articles.edit', topic.id) }}" class="no-pjax">编辑发布</a>
                            </div>
                        @endif

                        <div class="article-meta text-center meta">
                            <a class="author" href="{{ route('users.show', topic('user').id) }}">{{ topic('user').name }}</a>
                            ⋅
                            <i class="fa fa-clock-o"></i> <abbr title="{{ topic.created_at }}" class="timeago">{{ topic.created_at }}</abbr>
                            ⋅
                            <i class="fa fa-eye"></i> {{ topic.view_count }}
                            ⋅
                            <i class="fa fa-thumbs-o-up"></i> {{ topic.vote_count }}
                            ⋅
                            <i class="fa fa-comments-o"></i> {{ topic.reply_count }}

                            @include('topics.base.tags')
                        </div>

                        <div class="entry-content">
                            @include('topics.base.body', {body = topic.body})
                        </div>


                        <div class="post-info-panel">
                            <p class="info">
                                <label class="info-title">版权声明：</label><i class="fa fa-fw fa-creative-commons"></i>自由转载-非商用-非衍生-保持署名（<a href="https://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证</a>）
                            </p>
                        </div>
                        <br>
                        <br>
                        {? local canManageTopics = currentUser and currentUser:can("manage_topics") and currentUser:roles():count() <= 5 ?}
                        @include('topics.base.topic_operate', {is_article = true, manage_topics = canManageTopics})
                  </div>

              </div>

              @include('topics.base.show_segment')
        </div>

        @if(topic('user').payment_qrcode)
            @include('topics.base.payment_qrcode_modal')
        @endif

        <div class="col-md-3 main-col pull-left">
            @include('blogs._info', {showActionItem = false})

            @if(topic.summary)
            <div id="sticker">
            <div class="panel panel-default corner-radius">
              <div id="blog-summary-area" style="display: none">
                <div class="panel-heading text-center">
                  <button type="button" id="to-topic-summary" class="btn btn-default btn-sm btn-right glyphicon glyphicon-th-list popover-with-html " aria-hidden="true" data-content="切换至文章目录" data-original-title="" title="">
                  {{ Ah.lang('Blog Summary') }}
                  </button>
                </div>
                @if(blog.summary)
                <div id="blog-summary" class="summary" style="overflow-y:scroll;max-height: 530px;">
                    {!! blog.summary !!}
                </div>
                @endif
              </div>
              <div id="topic-summary-area">
                <div class="panel-heading text-center">
                <button type="button" id="to-blog-summary" class="btn btn-default btn-sm glyphicon glyphicon-list popover-with-html" aria-hidden="true" data-content="切换至专栏目录" data-original-title="" title="">
                {{ Ah.lang('Article Summary') }}
                </button>
                </div>
                <div id="topic-summary" class="summary" style="overflow-y:auto;max-height: 530px;">
                    {!! topic.summary !!}
                </div>
              </div>
            </div>
            </div>
            @elseif(#userTopics)

            <div class="recommended-wrap">
                <div class="panel panel-default corner-radius recommended-articles">
                    <div class="panel-heading text-center">
                      <h3 class="panel-title">专栏推荐</h3>
                    </div>
                    <div class="panel-body">
                      @include('layouts.base.sidebar_topics', {sidebarTopics = userTopics, is_article = true, numbered = false})
                    </div>
                </div>
            </div>
            @endif
        </div>
</div>

@stop


@section('scripts')
<script type="text/javascript">

    $(document).ready(function()
    {
        var $config = {
            title               : '{{ topic.title }} | from LC #laravel-china# {{ topic('user').id ~= 1 and 'summer_charlie' or '' }} {{ topic('user').weibo_name and '@' .. topic('user').weibo_name or '' }}',
            wechatQrcodeTitle   : "微信扫一扫：分享", // 微信二维码提示文字
            wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>',
            image               : "{{ cover and cover.link or blog.cover }}",
            sites               : ['weibo','wechat',  'facebook', 'twitter', 'google','qzone', 'qq', 'douban'],
        };

        socialShare('.social-share-cs', $config);

        Config.following_users =
        @if(currentUser)
            {!!currentUser:present():followingUsersJson()!!};
        @else
            [];
        @endif
        orhub.initAutocompleteAtUser();

        var windowHeight = $(window).height();
        $('#blog-summary').css("max-height", windowHeight*0.8+"px");
        $('#topic-summary').css("max-height", windowHeight*0.8+"px");

        $('#to-blog-summary').click(function() {
            $('#blog-summary-area').show();
            $('.blog-info').parent().hide();
            $('#topic-summary-area').hide();
            var blogSummaryLinks = $('#blog-summary a');
            var blogSummary = $('#blog-summary');
            blogSummaryLinks.each(function() {
                currUrl = window.location.href;
                href = $(this).attr('href');
                if (currUrl.indexOf(href) > 0 ) {
                    $(this).addClass('current');
                    blogSummary.animate({scrollTop: $(this).offset().top - blogSummary.offset().top + blogSummary.scrollTop() - blogSummary.height()*0.15 }, 0, null, function() {

                    });

                    return false;
                }
            });
        })
        $('#to-topic-summary').click(function() {
            $('#blog-summary-area').hide();
            $('#topic-summary-area').show();
        })

        $("#topic-summary").navScrollSpy({
            navContainer: "#topic-summary",
            current:"current",
            speed: 0
        });
    });

</script>
@stop
