
@if(hotTags)
    <style>
        .tag-nav {
            border-top: 1px solid #eee;
            padding-top: 1px;
            padding-bottom: 0px;
 
            line-height: 30px;
            position: relative;
            margin: auto;
            background-color: #fdfdfd;
            width: 96%;
        }
        .tag-nav a.normal {
            color: #9e9e9e;
            font-size: 13px;
            margin-left: 30px;
            text-decoration: none;
        }
        .tag-nav a.normal:hover {
            color: #333;
        }
    </style>
    <div class="tag-nav" >
 
    @foreach(hotTags as tag)
        <a href="{{ route('tagged.topics', tag.name) }}" class="normal">{{ tag.name }}</a>
    @endforeach
 
    </div>
@endif