@extends('layouts.default')

@section('title')
{{ topic.title }} | @parent
@stop

@section('description')
{{ topic.excerpt }}
@stop

{? local cover = topic:cover() ?}
@section('wechat_icon')
  @if(cover)
    <img src="{{ Ah.img_crop(cover.link, 512, 512) }}" alt="">
    }
  @else
    @parent
  @endif
@stop

@section('content')

<div class="col-md-9 topics-show main-col">
  <!-- Topic Detial -->
  <div class="topic panel panel-default">
    <div class="infos panel-heading">

      <h1 class="panel-title topic-title">{{ topic.title }}</h1>

      @include('topics.base.meta')
    </div>

    <div class="content-body entry-content panel-body ">

      @include('topics.base.body', {body = topic.body})

      <div data-lang-excellent="{{ Ah.lang('This topic has been mark as Excenllent Topic.') }}" data-lang-wiki="{{ Ah.lang('This is a Community Wiki.') }}" class="ribbon-container">
        @include('topics.base.ribbon')
      </div>
    </div>
    <div class="appends-container" data-lang-append="{{ Ah.lang('Append') }}">
    
      @foreach(appends as index, append)

          <div class="appends">
              <span class="meta">{{ Ah.lang('Append') }} {{ index }} &nbsp;·&nbsp; <abbr title="{{ append.created_at }}" class="timeago">{{ append.created_at }}</abbr></span>
              <div class="sep5"></div>
              <div class="markdown-reply append-content">
                  {!! append.content !!}
              </div>
          </div>

      @endforeach
    </div>
    @if(revisionHistory and tb.inList({'is_excellent', 'order'}, revisionHistory.key))
    <div class="admin-operation">
{?
  local revisionAdmin = User.find(revisionHistory.user_id)
  local adminOperation = ''
  if revisionHistory.key == 'is_excellent' then
      adminOperation = revisionHistory.new_value == 'yes' and '加精' or '解除加精'
  end
  if revisionHistory.key == 'order' then
      if revisionHistory.new_value < 0 then
          adminOperation = '沉帖'
      elseif revisionHistory.new_value > 0 then
          adminOperation = '置顶'
      elseif revisionHistory.new_value == 0 then
          adminOperation = revisionHistory.old_value > 0 and '取消置顶' or '取消沉帖'
      end
  end
?}
        @if(adminOperation)
        本帖由 <a href="{{route('users.show', revisionAdmin.id)}}" target="_blank">{{revisionAdmin.name}}</a> 于 {{revisionHistory.created_at:diffForHumans()}} {{adminOperation}}
        @endif
    </div>
    @endif
    {? local canManageTopics = currentUser and currentUser:can('manage_topics') and currentUser:roles():count() <= 5 ?}
    @include('topics.base.topic_operate', {is_article = false, manage_topics = canManageTopics})
  </div>

  @include('topics.base.show_segment')

</div>

@if(topic('user').payment_qrcode)
    @include('topics.base.payment_qrcode_modal')
@endif

@include('layouts.base.sidebar')

@include('layouts.base.bottombanner')

@stop

@section('scripts')
<script type="text/javascript">

    $(document).ready(function()
    {
        var $config = {
            title               : '{{ topic.title }} | from oh #orhub# {{ topic('user').id ~= 1 and 'xlibor' or '' }} {{ topic('user').weibo_name and '@' .. topic('user').weibo_name or '' }}',
            wechatQrcodeTitle   : "微信扫一扫：分享", // 微信二维码提示文字
            wechatQrcodeHelper  : '<p>微信里点“发现”，扫一下</p><p>二维码便可将本文分享至朋友圈。</p>',
            image               : "{{ cover and cover.link or 'https://dn-phphub.qbox.me/uploads/images/201701/29/1/pQimFCe1r5.png' }}",
            sites               : ['weibo','wechat',  'facebook', 'twitter', 'google','qzone', 'qq', 'douban'],
        };

        socialShare('.social-share-cs', $config);

        Config.following_users =
        @if(currentUser)
            {!!currentUser:present():followingUsersJson()!!};
        @else
            [];
        @endif
        orhub.initAutocompleteAtUser();

        var topicSummary = $("#topic-summary");
        if (topicSummary.length > 0) {
          var windowHeight = $(window).height();
          topicSummary.css("max-height", windowHeight*0.8+"px");
          topicSummary.navScrollSpy({
              navContainer: "#topic-summary",
              current:"current",
              speed: 0
          });
        }
    });

</script>
@stop
