<ul class="list-group">

@if(#articles and #blog)
      @foreach(articles as index, article)
       <li class="list-group-item" >

          <a href="{{ article:link() }}" title="{{ article.title }}">
            {{ Str.limit(article.title, 100) }}
          </a>

          <span class="meta">
          {? local blog = article:blogs():first() ?}
            <a href="{{ blog:link() }}" title="{{ blog.name }}">
              {{ blog.name }}
            </a>
            <span> ⋅ </span>
            {{ article.vote_count }} {{ Ah.lang('Up Votes') }}
            <span> ⋅ </span>
            {{ article.reply_count }} {{ Ah.lang('Replies') }}
            <span> ⋅ </span>
            <span class="timeago">{{ article.created_at }}</span>

          </span>

      </li>
      @endforeach
@endif
</ul>

@if(Ah.if_route('users.show') and user.article_count > #articles)
    <div class="panel-footer" style="margin-top: 10px">
        <a href="{{ route('users.articles', user.id) }}" class="btn btn-default btn-sm">
            所有文章
        </a>
    </div>
@endif