<div class="box">
    <div class="padding-md ">
        <div class="list-group text-center">
          <a href="{{ route('users.edit') }}" class="list-group-item {{ Ah.navViewActive('users.edit') }}">
              <i class="text-md fa fa-list-alt" aria-hidden="true"></i>
              &nbsp;{{ Ah.lang('Basic Info') }}
          </a>
          <a href="{{ route('users.edit_avatar') }}" class="list-group-item {{ Ah.navViewActive('users.edit_avatar') }}">
              <i class="text-md fa fa-picture-o" aria-hidden="true"></i>
               &nbsp;{{ Ah.lang('Change Avatar') }}
          </a>
          <a href="{{ route('users.edit_social_binding') }}" class="list-group-item {{ Ah.navViewActive('users.edit_social_binding') }}">
              <i class="text-md fa fa-flask" aria-hidden="true"></i>
              &nbsp;{{ Ah.lang('Social Account Binding') }}
          </a>
          <a href="{{ route('users.edit_email_notify') }}" class="list-group-item {{ Ah.navViewActive('users.edit_email_notify') }}">
              <i class="text-md fa fa-bell" aria-hidden="true"></i>
              &nbsp;{{ Ah.lang('Notification Settings') }}
          </a>
          <a href="{{ route('users.edit_password') }}" class="list-group-item {{ Ah.navViewActive('users.edit_password') }}">
              <i class="text-md fa fa-lock" aria-hidden="true"></i>
              &nbsp;修改密码
          </a>
        </div>
    </div>

</div>
