@extends('layouts.default')

@section('title')
    @if(Auth.check())
        @if(viewType == 'subscribed')
        我关注的动态 | @parent
        @elseif(viewType == 'all')
        所有动态 | @parent
        @elseif(viewType == 'mine')
        我的动态 | @parent
        @endif
    @else
        所有动态 | @parent
    @endif
@stop

@section('content')

<div class="col-md-9 topics-index feed-list main-col">

    <div class="panel panel-default">

        <div class="panel-heading">
            <ul class="nav nav-tabs">
                @if(Auth.check())
                <li role="presentation" class="{{ Ah.active_class(Ah.if_query('view')) }}"><a href="{{ route('activity') }}"><i class="fa fa-eye" aria-hidden="true"></i> 我的关注</a></li>
                <li role="presentation" class="{{ Ah.active_class(Ah.if_query('view', 'all')) }}"><a href="{{ route('activity', {view = 'all'}) }}"><i class="fa fa-rss" aria-hidden="true"></i> 所有动态</a></li>
                <li role="presentation" class="{{ Ah.active_class(Ah.if_query('view', 'mine')) }}"><a href="{{ route('activity', {view = 'mine'}) }}"><i class="fa fa-calendar-minus-o" aria-hidden="true"></i> 我的动态</a></li>
                @else
                <li role="presentation" class="{{ Ah.active_class(true) }}"><a href="{{ route('activity', {view = 'all'}) }}"><i class="fa fa-rss" aria-hidden="true"></i> 所有动态</a></li>
                @endif
            </ul>
        </div>

        @if(not activities:isEmpty())

            <div class="jscroll">
                <div class="panel-body remove-padding-horizontal">
                    <ul class="list-group row feed-list">
                        {? local indentifiers = {} ?}
                        @foreach(activities as activity)
                            @unless(activity.type == 'UserPublishedNewTopic' and tb.inList(indentifiers, activity.indentifier))
                                {? local activityUser = activity('user') ?}
                                @include('activities.types@blogHasNewArticle;userAddedAppend;userAttendedTopic;userFollowedUser;userPublishedNewTopic;userRepliedTopic;userSubscribedBlog;userUpvotedReply;userUpvotedTopic', activity.type)
                            @endunless
                            {? if activity.type == 'BlogHasNewArticle' then
    tapd(indentifiers, activity.indentifier)
end ?}
                        @endforeach
                    </ul>

                </div>


                @if(activities:total() / activities:perPage() > 1)
                    <div class="panel-footer text-right remove-padding-horizontal pager-footer">
                        {!! activities:appends(Req.except('page', '_pjax')):render() !!}
                    </div>
                @else
                <div class="panel-footer text-center remove-padding-horizontal pager-footer">
                        <div class="pagination" style="color: #ccc;">
                            加载完毕~~
                        </div>
                    </div>
                @endif


            </div>

        @else
            <div class="panel-body">
                <div class="empty-block">
                    @if(Ah.if_query('view', nil))
                        (=￣ω￣=)··· 关注用户或订阅专栏这里才会有内容哦。
                    @elseif(Ah.if_query('view', 'all'))
                        (=￣ω￣=)···  不活跃度啊你，动态数据为空！记得评论、点赞可产生动态。
                    @endif
                </div>
            </div>
        @endif

    </div>

</div>

@include('layouts.partials.sidebar')

@stop
