@extends('layouts.default')

@section('title')
{{ Ah.lang('Recommended Sites') }} @parent
@stop

@section('content')

    <div class="box text-center site-intro rm-link-color">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        欢迎交换友链，优先考虑 openresty, nginx, lua 相关话题的站点。请联系 <a href="/u/1">xlibor</a>
    </div>

    <div class="sites-index">

        @include('sites.base.sites', {heading_title = '<i class="fa fa-globe text-md"></i> 推荐网站', filterd_sites = sites['site']})

        @include('sites.base.sites', {heading_title = '<i class="fa fa-flag text-md"></i> 推荐博客', filterd_sites = sites['blog']})

        @include('sites.base.sites', {heading_title = '<i class="fa fa-cloud text-md"></i> 开发者服务推荐', filterd_sites = sites['dev_service']})

    </div>

    @include('layouts.base.topbanner')

@stop
