
<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<title>
        @section('title')
        orhub 社区 - 高品质的 openresty 和 lua 开发者社区
        @show
        - Powered by orhub
        </title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

		<meta name="keywords" content="openresty,lua,openresty论坛,lxlib论坛,lua社区,openresty社区,openresty教程,lua教程,openresty视频,openresty开源,openresty新手,nginx,ngx" />
		<meta name="author" content="orhub" />
		<meta name="description" content="
        @section('description')
            orhub 是专业，综合的 openresty, nginx, lua 交流社区，致力于推动 openresty(ngx+lua)技术，理念在中国的发展，是国内靠谱的 openresty 论坛。 
        @show
        " />
        <meta name="_token" content="{{ csrf_token() }}">
        <link rel="stylesheet" href="{{ mix('/css/styles.css') }}">
        <link rel="shortcut icon" href="{{ Ah.cdn('/assets/images/favicon.png') }}"/>
        @yield('styles')
        <script>
            Config = {
                'cdnDomain': '{{ Ah.get_cdn_domain() }}',
                'user_id': {{ currentUser and currentUser.id or 0 }},
                'user_avatar': {!! currentUser and '"' .. currentUser:present():gravatar() .. '"' or '""' !!},
                'user_link': {!! currentUser and '"' .. route('users.show', currentUser.id) .. '"' or '""' !!},
                'user_badge': '{{ currentUser and currentUser:present():hasBadge() and currentUser:present():badgeName() or '' or '' }}',
                'user_badge_link': "{{ currentUser and route('roles.show', {currentUser:present():badgeID()}) or '' }}",
                'routes': {
                    'notificationsCount' : '{{ route('notifications.count') }}',
                    'upload_image' : '{{ route('upload_image') }}'
                },
                'token': '{{ csrf_token() }}',
                'environment': '{{ App:getEnv() }}',
                'following_users': [],
                'qa_category_id': '{{Conf('orhub.qaCategoryId') }}'
            };

			var ShowCrxHint = '{{ 'no' }}';
        </script>
		<meta http-equiv="x-pjax-version" content="{{ mix('/css/styles.css') }}">
	</head>
	<body id="body" class="{{ Ah.route_class() }}">

        {{-- Wechat share cover --}}
        <div style="display: none;"
        　　document.getElementById("typediv1").style.display="none";>
            @section('wechat_icon')
            <img src="https://dn-phphub.qbox.me/uploads/images/201701/29/1/pQimFCe1r5.png">
            @show

        </div>
		<div id="wrap">

			@include('layouts.base.nav')

			<div class="container main-container {{ (Req.is('blogs*') or Req.is('articles*') or Ah.is_route('blogs.show')) and 'blog-container' or '' }}">
				@if(Auth.check() and not Auth.user().verified and not Req.is('email-verification-required'))
    				<div class="alert alert-warning">
    		            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    		            邮箱未激活，请前往 {{ Auth.user().email }} 查收激活邮件，激活后才能完整地使用社区功能，如发帖和回帖。未收到邮件？请前往 <a href="{{ route('email-verification-required') }}">重发邮件</a> 。
    		        </div>
                @elseif(Auth.check() and lf.isEmpty(Auth.user().password))
                    <div class="alert alert-warning">
    		            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    		            未设置登录密码，请前往 <a href="{{ route('users.edit_password') }}">修改密码</a> 页面进行设置。设置后将可以在移动设备上使用邮箱登录网站。
    		        </div>
				@endif

				@include('flash:message')

				@yield('content')

			</div>

@include('layouts.base.footer')

		</div>

        <script src="{{ mix('/js/scripts.js') }}"></script>

	    @yield('scripts')

        @if(App:getEnv() == 'production')
		<script>
          ga('create', '{{ getenv('GA_Tracking_ID') }}', 'auto');
          ga('send', 'pageview');
        </script>

		<script>
		// Baidu link submit
		(function(){
		    var bp = document.createElement('script');
		    var curProtocol = window.location.protocol.split(':')[0];
		    if (curProtocol === 'https') {
		        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
		    }
		    else {
		        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
		    }
		    var s = document.getElementsByTagName("script")[0];
		    s.parentNode.insertBefore(bp, s);
		})();
		</script>
        @endif

	</body>
</html>
