@extends('layouts.default')

@section('title')
  {{ Ah.lang('Edit Social Binding') }} | @parent
@stop

@section('content')

<div class="users-show">

  <div class="col-md-3 main-col ">
    @include('users.partials.setting_nav')
  </div>

  <div class="main-col col-md-9 left-col">

    <div class="panel panel-default padding-md">

      <div class="panel-body ">

        <h2><i class="fa fa-cog" aria-hidden="true"></i> {{ Ah.lang('Edit Social Binding') }}</h2>
        <hr>

        @include('layouts.partials.errors')

        <div class="alert alert-warning">
          {{ Ah.lang('Setup multiple Bindings allow you to login to the same account with different binding site account.') }}
        </div>

        <form class="form-horizontal" method="POST" action="{{ route('users.update_email_notify') }}" accept-charset="UTF-8">

            {!! csrf_field() !!}

            @foreach(bindings as binding)
            <div class="form-group">
              <div class="col-sm-4">
                <a class="btn btn-{{ binding.binded and 'success' or 'default' }} {{ binding.name }}-login-btn " role="button">
                  <i class="fa fa-{{ binding.iclass or binding.name }}"></i>
                </a>
                &nbsp;{{ Ah.lang(binding.lang) }}
              </div>
              <div class="col-sm-6 help-block">
                @if(binding.isRegister)
                  {{ Ah.lang('Already binded') }} &nbsp;({{ Ah.lang('Not allow to change register binding account') }})
                @elseif(binding.binded)
                  {{ Ah.lang('Already binded') }} &nbsp;.&nbsp;<a href="{{ Url.route('users.social_unbinding', {driver = binding.name}) }}">{{ Ah.lang('Unbind to this account') }}</a>
                @else
                  <a href="{{ Url.route('auth.oauth', {driver = binding.name}) }}">{{ Ah.lang('Bind to this account') }}</a>
                @endif
              </div>
            </div>
            @endforeach
<br>
<br>
      </form>
      </div>
    </div>
  </div>
</div>

@stop
